/* Add a black background color to the top navigation */
.navbar {
  background-color: #36365e;
  overflow: hidden;
}

.nvtitle p{
  text-align: center;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.navbar a:hover {
  background-image: linear-gradient(to right,rgba(19, 29, 124, 1) ,rgba(47, 25, 97, 1));
  color: rgba(232, 216, 245, 1);
  outline: rgba(54, 33, 147, 1);
}
/* Add an active class to highlight the current page */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
.navbar button :hover{
background-image: linear-gradient(to right,rgba(19, 29, 124, 1) ,rgba(47, 25, 97, 1));
  color: rgba(232, 216, 245, 1);
  outline: rgba(54, 33, 147, 1);
}

.center{
  text-align: center;
}

*{
  box-sizing: border-box;
}

body{
  background: rgb(16,16,19);
  background: linear-gradient(190deg, rgba(16,16,19,1) 0%, rgba(54,54,94,1) 94%, rgba(5,12,59,1) 100%);
  margin: 0%;
  color: rgba(232, 216, 245, 1);
  outline: rgba(54, 33, 147, 1);
}
@media screen and (max-width: 900px) {
  .navbar a {
    float: none;
    display: block;
  }
  body{
    font-size: 100%;
  }
  }
  header h1{
    text-align: center;
  }
  .Artical1 h1,h2,p{
    text-align: justify;
  }
  .Artical2 h1,h2,p{
    text-align: justify;
  }
  .Artical3 h1,h2,p{
    text-align: justify;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }

  /* unvisited link */
a:link {
  color: rgba(232, 216, 245, 1);
  outline: rgba(54, 33, 147, 1);
}

/* visited link */
a:visited {
  color: rgba(232, 216, 245, 1);
  outline: rgba(54, 33, 147, 1);
}
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-image: linear-gradient(to right,rgba(19, 29, 124, 1) ,rgba(47, 25, 97, 1));
  color: rgba(232, 216, 245, 1);
  outline: rgba(54, 33, 147, 1);
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #36365e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
    
    .container {
      position: relative;
    }
    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 55px;
    }
    
    img { 
      width: 100%;
      height: 685px;
      opacity: 0.75;
    }
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .main{
      display: flex;
      flex-wrap: wrap;
    }
    
    .articalImage{
      display: block;
      max-width: 100%;
      margin: 15px auto 20px;
    }

    .Artical1{
      border: solid 2px black;
      border: auto;
      flex: 25%;
    }
    .Artical1 img{
      width: auto;
      height: auto;
      position: relative;
    }

    .Artical2{
      border: solid 2px black;
      border: auto;
      flex: 25%;
    }
    .Artical2 img{
      width: auto;
      height: auto;
      position: relative;
    }

    .Artical3{
      border: solid 2px black;
      border: auto;
      flex: 25%;
    }
    .Artical3 img{
      width: auto;
      height: auto;
      position: relative;
    }
    .game_menu{
      background-color: rgba(40, 26, 115, 1);
      flex: 10%;
    }
    
    .game_menu ul{
      border: solid 2px black;
    }
    .game_menu li{
      padding-bottom: 5px;
    }

    .game_menu h3 {
      text-align: center;
    }
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
    